[2014-11-05 22:50] jessegreenberg opened #1 "Determine application architecture"
In the original Java code, 'Isotopes and Atomic Mass' is actually embedded into the 'Build an Atom' file structure and the two simulations share a significant amount of common code. 'Build an Atom' has already been ported and I have been able to use several files which are shared between the two sims.  Where should we place the common files between these sims and how should I call on these files?

[2015-02-04 23:31] jonathanolson opened #2 "Assertion failure on launch"
[code]

Looks like it's calling new Color( undefined ).

[2015-02-12 03:01] jonathanolson opened #3 "Assorted lint issues"
Please run "grunt lint" and fix the specified problems.

[2015-02-24 22:06] jbphet opened #4 "Need icons for home screen and nav bar"
This is a multi-screen sim, so icons will be needed for the home screen and nav bar.

[2015-03-06 20:10] pixelzoom opened #5 "sim doesn't start"
master, all platforms. Here's the console output:

![screenshot_480](https://cloud.githubusercontent.com/assets/3046552/6535421/25d52826-c402-11e4-8209-234a76017dd8.png)

[2015-03-06 20:11] pixelzoom opened #6 "use PhetColorScheme.RED_COLORBLIND ?"
I can't confirm this because the sim doesn't run (see #5). But it looks like particles are filled with 'red'. They should probably be filled with PhetColorScheme.RED_COLORBLIND.

[2015-03-06 20:12] pixelzoom commented on #6
InteractiveIsotopeNode line 100:

[2015-03-06 20:14] samreid commented on #5
Fixed above, reassigning to @pixelzoom.

[2015-03-06 20:54] pixelzoom commented on #5
Thanks, closing.

[2015-03-06 20:54] #5 closed

[2015-03-09 16:25] jessegreenberg commented on #6
Sorry, circles here were just being used for visual debugging and they have been removed.  particleView variables are now ParticleView node objects.  ParticleView colors are defined in shred and the color will be changed there through issue phetsims/shred#2

[2015-03-12 19:45] pixelzoom opened #7 "sim fails at startup in requirejs mode"
Here's the console log:

![screenshot_485](https://cloud.githubusercontent.com/assets/3046552/6626640/03950748-c8be-11e4-95d0-c83867cb9550.png)

[2015-03-12 21:39] jasm32851 commented on #7
Hey Chris!

I think that Jesse and I have fixed the error that you mentioned, but I
haven't pushed files yet because I'm trying to figure out how I can import
the .xml file on my mac. Currently IntelliJ throws an error when I try to
import the formatting setting myself. As soon as I figure it out I will
push the files.

Thanks,

James

On Thu, Mar 12, 2015 at 1:45 PM, Chris Malley <notifications@g

[2015-03-13 15:07] pixelzoom commented on #7
HI James,

When you say “import the formatting settings” do you mean the PhET code style?

The xml file for the PhET code style is `joist/util/phet-idea-code-style.xml`

On Mac, copy it to `$HOME/Library/Preferences/IntelliJIdea14/codestyles/`, restart IDEA, then select it from Preferences->Editor->Code Style.

Chris

[2015-03-15 16:30] jasm32851 commented on #7
Chris,

Jesse and I realized the problems were stemming from the fact that I had
the IntelliJ Community Edition rather than the Ultimate Edition, but I've
since gotten it figured out. Thanks for your help!

-James

On Fri, Mar 13, 2015 at 9:07 AM, Chris Malley <notifications@github.com>
wrote:

[2015-04-04 19:15] ariel-phet commented on #4
@ycarpenterphet, this is not high priority since although this sim is in development, it will be a long development cycle as it is being completed by interns.

Feel free to work with our new graphic artist (Mariah on this project). If you want her to do the illustrator work, create a task, give it the "artwork" label and assign it to @amanda-phet for prioritization.

[2015-04-28 16:26] pixelzoom opened #8 "isotopes-and-atomic-mass fails lint"
To reproduce, run "grunt lint".

[2015-04-28 16:41] pixelzoom opened #9 "isotopes-and-atomic-mass fails to build"
[code]

[2015-04-28 20:53] #9 closed

[2015-04-28 21:08] jbphet commented on #8
I discussed with with @jessegreenberg today and am assigning to him for now.  He will work with @jasm32851 to make sure that he is aware of lint and is running it regularly.  At some point it will probably make sense to assign to @jasm32851.

[2015-06-10 20:20] jonathanolson commented on #2
Looks fixed.

[2015-06-10 20:20] #2 closed

[2015-06-10 20:20] jonathanolson opened #10 "Assertion failure from automated testing"
[code]

[2015-06-25 15:01] pixelzoom opened #11 "replace toFixed with dot.Util.toFixed"
This sim uses JavaScript's built-in toFixed. This function should not be used directly; it is notoriously buggy, and behavior differs depending on browser, because the spec doesn't specify whether to round or floor. Use dot.Util.toFixed, see its doc for details.

[2015-06-25 15:49] jessegreenberg commented on #11
I have done most of the work on this port so far, I can clean this up.  Reassigning to myself.

[2015-06-25 16:57] jessegreenberg commented on #11
Case of Math.toFixed has been replaced with dot.Util.toFixed.  Closing.

[2015-06-25 16:57] #11 closed

[2015-07-07 00:08] ycarpenterphet commented on #4
@ariel-phet I'm unlikely to be able to iterate on this with Mariah before my departure, so I'd suggest assigning someone else for continuity. Depending on the development timeline, perhaps this could be a good starter for Amy H, as she's getting into design?

[2015-07-21 19:31] samreid opened #12 "Why is a big blank image checked in?"
Discovered during https://github.com/phetsims/tasks/issues/274
Perhaps just a scenery Rectangle would suffice?

[2015-07-23 17:18] jessegreenberg commented on #12
Thanks for catching @samreid, not sure why an image is being passed in.  Replaced with temporary rectangles. Closing.

[2015-07-23 17:18] #12 closed

[2015-08-18 01:32] pixelzoom commented on #10
I saw this same fuzz error when running test-server today.

[2015-08-18 01:33] jessegreenberg commented on #10
Thanks for catching this.  I will investigate.

[2015-10-29 15:54] aadish opened #13 "Icons needed for Home Screen and Nav Bar"
We need some icons for the home screen and nav bar for the sim

[2015-11-03 23:21] jbphet commented on #13
Duplicate of #4, closing.

[2015-11-03 23:21] #13 closed

[2015-11-09 18:13] aadish commented on #8
Working on it now and it does not give error while running lint and would be maintaning that

[2015-11-09 18:13] #8 closed

[2015-11-09 18:13] aadish commented on #7
This is fixed. Closing

[2015-11-09 18:13] #7 closed

[2015-11-09 18:14] aadish commented on #3
Fixed Closing

[2015-11-09 18:14] #3 closed

[2015-11-10 22:54] aadish commented on #10
This is fixed closing the issue

[2015-11-10 22:54] #10 closed

[2015-11-19 05:16] jonathanolson opened #14 "Automated testing error"
[code]

Browsers tend to display arcs incorrectly if their angle differences are larger than 2pi. It looks like one of these is the case:
[code]

Scenery is a bit proactive here, and fires an assertion when the arc would look incorrect on some browsers. We'll want to fix it up so that the arcs don't go past 2pi-angle difference.

[2015-11-30 18:19] jbphet opened #15 "Should number of digits for isotope percentages behave like the Java sim?"
When working on the first screen of the HTML5 version of Isotopes and Atomic Mass, @aadish and I noticed that the number of significant digits for the indicator that shows the abundance of a given isotope seems to vary by element.  I vaguely recall that there was a reason for this - perhaps that for some elements the value was only known to a certain number of significant digits - but I'm not sure

[2015-11-30 19:41] amyh-phet commented on #15
@aadish and @jbphet
Looking at the most recent NIST table for percent abundance of isotopes, it looks like the number of decimal places does vary among the different elements.   Although this looks odd in the sim, I think it would be best to follow the behavior seen in the Java version of the sim and report % abundance to the number of decimal places listed in the NIST table.

[2015-12-02 18:58] amyh-phet opened #16 "Periodic table bug"
@jbphet  and @aadish   The elements listed in the last two rows on the periodic table are incorrect.   In row 6, Cs, Ba, and La are correct, but Ce-Hf are not in their correct positions on the table.   All elements in row 7 are incorrect.  This is the same as the issue we have in BAA.

[AP Periodic Table.pdf](https://github.com/phetsims/isotopes-and-atomic-mass/files/50064/AP.Periodic.Table.pdf)

[2015-12-03 18:20] jbphet opened #17 "add query parameter to enable testing of periodic table popup"
We should add a query parameter that turns on the popup feature for the periodic table so that it can be tested on a non-touch-capable desktop devices (suggested by @pixelzoom during 12/3/2015 status meeting).

[2015-12-04 17:07] amyh-phet opened #18 "New periodic table"
@aadish and @jbphet

At design meeting on 12/3, decision was made to replace the full periodic table with a modified version of the table.  The attached artwork shows the new version of the periodic table in the default setting with hydrogen selected.
![periodic_table_isotopes_screen](https://cloud.githubusercontent.com/assets/13650180/11595850/c4ec68f0-9a6e-11e5-87ce-e504c5ae66a9.png)
![periodic_

[2015-12-08 06:24] ariel-phet opened #19 "Isotopes and Atomic Mass Master Checklist"
## Design
- [x] **Design doc created** (Date: 08/16/2015)
 - [x] Make phethelp@gmail.com owner, share with phet-team
 - [x] Add to [Master Doc List](https://docs.google.com/document/d/1yjT1oE95JG_evwob9LB_De-brD7JpfFM6iIL6pF812k/edit#)
- [x] **Legacy sim docs/info gathered**
- [x] **Learning goals and standards identified** (Date: 10/01/2015)
- [x] **Design concept complete**  (Date: 10/13/2015)
-

[2015-12-08 22:03] jonathanolson opened #20 "Automated testing error - infinite loop!"
Example call stack when looping:

![isotopes-loop-stack](https://cloud.githubusercontent.com/assets/480878/11669974/a54c20ac-9dbc-11e5-91dc-caa2dcc2b7b0.PNG)

It's very reliable to reproduce, and assertions don't need to be enabled. It's also preventing me from using automated testing to test sims alphabetically after it (unless it gets removed or this gets solved).

[2015-12-09 01:08] aadish commented on #20
have commented out the portion which is causing infinite loop will be looking further into it

[2015-12-11 17:07] amyh-phet opened #21 "Isotopes labels on screen 1"
@aadish and @jbphet
In IAAM 1.0.0-dev2, the isotope name and stable/unstable labels move as neutrons are added/removed from the nucleus.  This looks really jumpy as you interact with the sim.  Additionally, the unstable label for helium isotopes He-6, He-7, and He-8 are obscured by the scale.   Can we make the location of the labels static and base the location off the largest nucleon a user could

[2015-12-29 19:28] bryo5363 opened #22 "User input for amounts of isotopes does not produce molecules on screen [Java]"
In the 'Mix Isotopes' section of the simulation I noticed that if the user selects 'More' and inputs a number greater than 100 for any molecule that the slider will snap to its maximum position of 100 but will not produce any molecules in the view.

Steps to reproduce
1) open sim
2) click 'mix isotopes'
3) click 'more' at the bottom
4) in the white space enter a number over 100. click away from th

[2015-12-29 20:48] bryo5363 opened #23 "Inconsistencies with reset button"
I noticed that the drop down displays on the 'Make Isotopes' section of the sim are initially compressed while the drop down displays on the 'Mix Isotopes' are initially expanded. I added the question tag because I didn't know if this is intentional or not.

[2015-12-29 21:05] bryo5363 opened #24 "Pressing 'More' clears the amount of molecules on the screen [Java]"
Steps to reproduce
1) open sim
2) click mix isotopes
3) drag isotopes onto the view screen
4) click 'more'. the initial particles will disappear
5) click 'less'. the initial particles will not be present

[2015-12-29 21:13] bryo5363 opened #25 "Slight lag when switching between 'My Mix' and 'Nature's Mix' [Java]"
When switching between my mix and nature's mix on the 'mix isotopes' section, there is a slight lag on the rendering of the isotope screen.

[2016-01-06 17:33] aadish opened #26 "Switching to nature's mix takes a long time"
On the most recent dev version of IAAM which can be found here
http://www.colorado.edu/physics/phet/dev/html/isotopes-and-atomic-mass/1.0.0-dev.3/isotopes-and-atomic-mass_en.html

Switching to nature's mix takes a very long time. We need to work out performance improvement and requirements

[2016-01-06 17:40] jbphet commented on #26
Some possible optimizations are:
+ Use a canvas node
+ Use a WebGL node
+ Have only a handful of particles and use the DAG nature of Scenery
+ Use pre-generated PNG images

[2016-01-06 17:41] jbphet commented on #26
By the way, this refers to the second screen, which is the "Mix Isotopes" screen.

[2016-01-06 17:41] jbphet commented on #26
Assigning to @amyh-phet to try this out and to come up with some specifications for the max allowable time to switch on our lowest performing platform, and to consider whether we should use a message of some kind (e.g. "Generating mix...").  From there we can assign to @jonathanolson to get recommendations on how best to optimize.

[2016-01-08 16:03] amyh-phet commented on #26
@aadish and @jbphet  After discussing this in design meeting, let's try removing the gradient from the atoms in the display for Nature's mix. Another possible solution that we discussed was having the location of the 1000 particles pre-generated so when a user switches to Nature's mix the particles can be filled in at specific locations. If doing further optimization still leaves a lag time of >2

[2016-01-08 16:09] amyh-phet opened #27 "Spacing of isotope and stable/unstable labels on Make Isotope screen"
When the user builds different isotopes by adding neutrons to the nucleus, the labels pop up (or down) as the user selects and drags the neutrons.   Can we have the isotope name (e.g. Hydrogen-1) and the stable/unstable labels placed at a set location based on the maximum size of the nucleus?  If needed, the size of the protons and neutrons can be reduced slightly to accommodate the labels.

Stabl

[2016-01-08 16:39] phet-steele opened #28 "Buckets refill after choosing slider view and switching elements."
@aadish @amyh-phet @jbphet Here's the issue from the 1/7 design meeting:

1. Go to "Mix Isotopes" screen and pick an element.
2. Put some atoms into the box, placing all ten will make this issue more obvious but is not necessary.
3. Switch do a different element.
4. When viewing this new element, switch from the bucket view to slider view. You don't need to do anything else with this element.
5. S

[2016-01-08 16:43] amyh-phet commented on #28
@aadish   Behavior occurred on Win 8.1 device in Chrome.  Thanks for logging this @phet-steele

[2016-01-08 17:31] amyh-phet opened #29 "Altered layout for Mix Isotopes screen"
Replace "Clear box" button with eraser button from common components. Move eraser button to under black play space on right side.  Move slider selection button under bucket selection button.   Move "Isotope Mixture" text, radio buttons, and corresponding text ("My mix" and "Nature's Mix") to right to allow for longer strings in translated sims.   Attached mock up shows new layout.
![mix_isotopes_e

[2016-01-11 19:06] pixelzoom opened #30 "fails lint"
[code]

[2016-01-12 22:44] aadish commented on #30
fixed, closing

[2016-01-12 22:44] #30 closed

[2016-01-12 22:47] aadish commented on #28
fixed by commit number 1c5f5e5a3d96c07c49aa340e729443ba9ece35b4 , closing

[2016-01-12 22:47] #28 closed

[2016-01-12 22:49] aadish commented on #23
@jbphet says this was by design, closing

[2016-01-12 22:49] #23 closed

[2016-01-12 22:53] aadish commented on #25
This is also the problem in early HTML 5 versions and have ticket #26 to track this issue so closing it

[2016-01-12 22:53] #25 closed

[2016-01-12 22:54] aadish commented on #22
This is not going to be a issue in HTML 5 version as we do not have a input box

[2016-01-12 22:54] #22 closed

[2016-01-12 22:56] aadish commented on #27
duplicate of #21, closing

[2016-01-12 22:56] #27 closed

[2016-01-12 23:01] aadish commented on #20
fixed, closing

[2016-01-12 23:01] #20 closed

[2016-01-12 23:03] aadish opened #31 "Crashing with fuzz test ran for a long time"
Any assertion is not hit. Might be a case of memory leak. Will have to explore.

[2016-01-12 23:04] aadish commented on #14
fixed, closing

[2016-01-12 23:04] #14 closed

[2016-01-12 23:05] aadish commented on #18
@amyh-phet This has been implemented. Can you test and verify this is what you are looking for behavior wise

[2016-01-12 23:06] aadish commented on #16
@jbphet had alook at this and verified it was ok

[2016-01-12 23:06] #16 closed

[2016-01-12 23:08] aadish commented on #24
assigning to @amyh-phet in case she thinks behavior changes are needed

[2016-01-12 23:12] aadish commented on #15
tested against the java sim behavior matches closing

[2016-01-12 23:12] #15 closed

[2016-01-12 23:15] aadish commented on #6
RED_COLORBLIND is used for particles and periodic table highlighting, closing

[2016-01-12 23:15] #6 closed

[2016-01-12 23:16] aadish commented on #4
we have these now. Closing

[2016-01-12 23:16] #4 closed

[2016-01-12 23:17] aadish commented on #1
Shared repo exist now and shared between build an atom and IaAM
closing

[2016-01-12 23:17] #1 closed

[2016-01-13 19:35] amyh-phet commented on #24
@aadish  I think the current behavior from the Java version of the sim is fine. It looks like the original design team discussed this and concluded the current behavior was best.

[2016-01-13 19:50] amyh-phet commented on #18
@aadish    Looks great and behaves as needed.  Closing issue.

[2016-01-13 19:50] #18 closed

[2016-01-15 20:39] aadish commented on #31
This has been resolved when using canvas node to render the nature's mix. Closing

[2016-01-15 20:39] #31 closed

[2016-01-15 21:02] aadish commented on #29
@amyh-phet layout has been changed as per the requirements
Have a look here: http://www.colorado.edu/physics/phet/dev/html/isotopes-and-atomic-mass/1.0.0-dev.4/isotopes-and-atomic-mass_en.html

[2016-01-15 21:05] aadish commented on #26
Tried to use the canvas node to render nature's mix. This has given slight performance improvement.
It can be seen in the dev-version 4 : http://www.colorado.edu/physics/phet/dev/html/isotopes-and-atomic-mass/1.0.0-dev.4/isotopes-and-atomic-mass_en.html
@amyh-phet can you check if it works

[2016-01-15 21:07] aadish commented on #24
HTML 5 version works same, closing

[2016-01-15 21:07] #24 closed

[2016-01-15 21:08] aadish commented on #21
@amyh-phet have fixed this have a look here
http://www.colorado.edu/physics/phet/dev/html/isotopes-and-atomic-mass/1.0.0-dev.4/isotopes-and-atomic-mass_en.html

[2016-01-19 19:52] amyh-phet commented on #21
Looks great!  Closing issue.

[2016-01-19 19:52] #21 closed

[2016-01-19 20:00] amyh-phet commented on #29
@aadish   The changes look good.  I think we still need some negative space below the periodic table.  Can we move the Percent Composition panel, Average atomic mass panel, and the buttons below the panels down to put a bit more white space between the bottom of the periodic table and the top of the yellow panels?   We can also reduce the font size on Percent Composition and Average Atomic Mass to

[2016-01-19 20:26] amyh-phet commented on #26
@aadish   I tested the dev-4 version on the iPad 2 and although there is still a bit of a delay when toggling between My Mix and Nature's Mix, the delay is not unreasonably long (< 2 seconds).  Unless this presents an issue when interviewing, I think the fix you employed will suffice.

[2016-01-21 22:36] amyh-phet opened #32 "Pixel polishing"
@aadish   I have a list of items for pixel polishing on IAAM.  Is there a time we can meet to accomplish this together?  Let me know times you would be available.

The list includes:
- [x] Reducing the size of the Reset All button on both screens
- [x] Reducing the font size on the panel titles in both screens
- [ ] Reducing size of panels slightly in Mix Isotopes screen
- [x] Moving panels/button

[2016-01-21 22:36] amyh-phet commented on #29
New design implemented.  Adding additional changes to new issue - pixel polishing.  Closing issue

[2016-01-21 22:36] #29 closed

[2016-01-23 19:00] aadish commented on #32
with discussion with @amyh-phet there is no need to reduce the size of panels as enough white space is available between panels and dark green color was only visible on @amyh-phet screen but it looked fine on other screens.
Other issues have been fixed, closing it

[2016-01-23 19:00] #32 closed

[2016-01-25 19:20] jbphet commented on #17
The popup feature has been removed in favor of a different design for interaction with the periodic table, so this issue is no longer relevant.  Closing.

[2016-01-25 19:20] #17 closed

[2016-01-27 16:53] phet-steele opened #33 "Atoms returned to bucket stay usable after switching elements"
1. On the Mix Isotopes screen, put some atoms into the play area.
2. Switch to Nature's Mix, then back to My Mix.
3. Put the atoms back into the bucket. The amount you put in will determine the amount of atoms available for the next step.
4. Switch to another element and the old atoms will be visible and playable.

In this video, I switched to the sliders after step 3 just to make the issue more c

[2016-01-27 17:25] phet-steele opened #34 "Sim dies after placing atoms on nature's mix screen"
Pretty simple multitouch problem. With one finger grab an atom out of its bucket (on the Mix Isotopes screen) and with another finger switch to Nature's Mix. Place the atom you were holding into the play area. This kills the sim. This issue is possible on non-touchscreen devices with #33.

Tested on 1.0.0-dev.5 with iPad 2 iOS 9.2 (Witten). For phetsims/tasks/issues/488.

[2016-01-27 17:28] phet-steele commented on #34
Troubleshooting information (do not edit):
Name: ‪Isotopes And Atomic Mass‬
URL: http://www.colorado.edu/physics/phet/dev/html/isotopes-and-atomic-mass/1.0.0-dev.5/isotopes-and-atomic-mass_en.html
Version: 1.0.0-dev.5 2016-01-26 23:09:01 UTC
Features missing: fullscreen
User Agent: Mozilla/5.0 (iPad; CPU OS 9_2 like Mac OS X) AppleWebKit/601.1.46 (KHTML, like Gecko) Version/9.0 Mobile/13C75 Safari

[2016-01-27 17:36] phet-steele opened #35 "Dragging a neutron upmard moves the "My Isotope" text"
On the Make Isotopes screen, taking a neutron from a bucket and dragging it upward, above the atom, moves some text around:

![isoatma](https://cloud.githubusercontent.com/assets/5863899/12622281/c8aa02fc-c4e1-11e5-9a5a-d0a60bfe137f.gif)

Tested on 1.0.0-dev.5 with Win 8.1 Chrome, iPad 2 iOS 9.2 & 9.3 beta (Witten & Tycho). For https://github.com/phetsims/tasks/issues/488.

Troubleshooting informa

[2016-01-27 17:46] phet-steele opened #36 "Invisble neutrons can contribute to isotope mass"
On the Make Isotopes screen, use one finger to grab a neutron from the bucket (don't release). With another finger, change the element. The original finger can now place an invisible neutron in the nucleus:

![20160127_104328](https://cloud.githubusercontent.com/assets/5863899/12622539/150fd698-c4e3-11e5-9e42-d65ba6a18ae9.jpg)

Tested on 1.0.0-dev.5 with iPad 2 iOS 9.2 & 9.3 beta (Witten & Tycho).

[2016-01-27 17:47] phet-steele commented on #36
Troubleshooting information (do not edit):
Name: ‪Isotopes And Atomic Mass‬
URL: http://www.colorado.edu/physics/phet/dev/html/isotopes-and-atomic-mass/1.0.0-dev.5/isotopes-and-atomic-mass_en.html
Version: 1.0.0-dev.5 2016-01-26 23:09:01 UTC
Features missing: fullscreen
User Agent: Mozilla/5.0 (iPad; CPU OS 9_2 like Mac OS X) AppleWebKit/601.1.46 (KHTML, like Gecko) Version/9.0 Mobile/13C75 Safari

[2016-01-27 17:55] phet-steele opened #37 "Make the "And" in the title lowercase"
Title should be "Isotopes and Atomic Mass" with a lowercase "and". This matches the convention of all our other sims like "Molecules and Light" or "Balloons and Static Electricity". For phetsims/tasks/issues/488

[2016-01-27 18:17] phet-steele opened #38 "Atom name and abundance doesn't update when a neutron is grabbed"
In 1.0.0-dev.5, the name or abundance of an atom doesn't change when a neutron is grabbed out of the nucleus until the neutron is released. The symbol DOES update. @amyh-phet this behaviour does not match the Java and in my opinion is counter intuitive. The nucleus seen not matching the nucleus reported would cause confusion:

![isoatma2](https://cloud.githubusercontent.com/assets/5863899/12623437

[2016-01-27 18:37] phet-steele commented on #38
@aadish  In the Java version of the sim, the name of the isotope updates when one of the two behaviors occurs:
1) a neutron that is in the nucleus is selected
2) a neutron from the bucket is dragged into the nucleus and released.

Can we investigate matching the behavior of the Java sim for neutrons on the Make Isotopes screen?

[2016-01-27 19:26] phet-steele commented on #34
Related problems not dealing with the Nature's Mix (and the sim doesn't die). I don't think these warrant their own issue since they are consequences of the same above procedure.

Both on Mix Isotopes screen:

- After picking up an atom, switch to slider view and place the atom down. This doesn't break anything, but shouldn't be allowed:

![20160127_121816](https://cloud.githubusercontent.com/asse

[2016-01-27 19:40] phet-steele opened #39 "Percent composition labels not handled gracefully"
@aadish @amyh-phet On the Mix Isotopes screen, the labels begin to overlap with each other and the panel title if the pie chart has the appearance of a "left facing pac-man". Coolest to do this with sulfur:

Put all 10 atoms of Sulfur-36 into the play area, then one of each of the others (you'll have 13 total atoms in the play area) and the pie chart will look like this:

![left pacman](https://cl

[2016-01-27 19:54] phet-steele opened #40 "iPad 2 Slider Performance (iOS 9.3 beta)"
@aadish @amyh-phet the sliders on the Mix Isotopes screen don't preform the best on iPad 2 (tycho), with significant lag while adding atoms quickly. The performance slows as well when there are more and more atoms on the screen, so the sulfur sliders become slow quickly, as opposed to the beryllium sliders that only have one isotope available. In case you wanted the FPS, it drops to 5 fps while sl

[2016-01-27 20:05] phet-steele opened #41 "Sulfur-32 slider too far left for an iPad."
@amyh-phet the sliders for sulfur are veeeeery close to the left edge. So much so that on an iPad, the leftmost slider is very difficult to slide without accidentally doing that weird iPad "slide to the right to go back to the previous page" thing. I don't know what to call it, but @amyh-phet saw what I'm talking about :smile:. I'd recommend we resize the sliders, or move them farther from the lef

[2016-01-27 20:23] phet-steele opened #42 "Reset button problems - Atoms"
Objects that are being held by one finger do not get reset after pressing the reset all button with another finger leading to things in #34 on the Mix isotopes screen or #36 on the Make Isotopes screen. This also allows you to be able to have more than 10 of one isotope in the play area at once on the Mix Isotopes screen.

Tested in 1.0.0-dev.5 with iPad 2 iOS 9.3 beta (tycho). For https://github.

[2016-01-27 20:27] bryo5363 opened #43 "Nature's Mix and My Mix particles have different appearance [dev.5]"
Test device: Acer Aspire R13 (Bryan's Personal Computer)

Operating System: Windows 10

Browser: Chrome 47.0.2526.111 m

Problem description: The particles in my mix and nature's mix have a different appearance

Steps to reproduce:

Severity:

Screenshots:
Below is a screen shot of 'My Mix'

<img width="751" alt="iosotopes_my_mix" src="https://cloud.githubusercontent.com/assets/7717368/12627165/87

[2016-01-27 20:32] phet-steele opened #44 "Reset button problems - Sliders"
1. Choose an element on the Mix Isotopes screen and switch it to slider view.
2. Use one finger to grab a slider, then you have a choice with your second finger. a) touch the eraser, then slide your original finger or b) touch the reset all button, then slide your original finger.

Option a) results in a screen displaying many atoms while the slider shows 0:

![20160127_131054](https://cloud.githu

[2016-01-27 20:34] phet-steele commented on #44
Troubleshooting information (do not edit):
Name: ‪Isotopes And Atomic Mass‬
URL: http://www.colorado.edu/physics/phet/dev/html/isotopes-and-atomic-mass/1.0.0-dev.5/isotopes-and-atomic-mass_en.html?profiler
Version: 1.0.0-dev.5 2016-01-26 23:09:01 UTC
Features missing: fullscreen
User Agent: Mozilla/5.0 (iPad; CPU OS 9_3 like Mac OS X) AppleWebKit/601.1.46 (KHTML, like Gecko) Version/9.0 Mobile/13E

[2016-01-27 20:36] amyh-phet commented on #41
@aadish   Can we reduce the size of the sliders on only the S screen?

[2016-01-27 20:37] phet-steele commented on #43
@bryo5363 this was done on purpose to improve performance. See https://github.com/phetsims/isotopes-and-atomic-mass/issues/26#issuecomment-170040477

[2016-01-27 20:37] #43 closed

[2016-01-27 21:14] phet-steele opened #45 "Phrase separated into three keys?"
So in 1.0.0-dev.5 I used the ?stringTest=double query and noticed this in the "Abundance in Nature" panel:

![3 keys](https://cloud.githubusercontent.com/assets/5863899/12628330/dd735b3e-c4ff-11e5-8c99-963a17ab000f.PNG)

Does this mean that "Other", "Hydrogen", and "Isotopes" have three separate string keys? If they are, I have a small pet-peeve about keeping context while translating. If a transl

[2016-01-27 21:24] arouinfar commented on #45
I don't think it's a good idea to ask translators to supply separate strings for "Other" and "Isotopes" because it lacks the appropriate context. It makes the most sense to have the key be something along the lines of "Other {0} Isotopes" where {0} represents the element. The element names will also need to have separate keys, as they vary with locale.

[2016-01-27 22:54] phet-steele opened #46 "Placing incorrect atoms into the play area via element selection buttons"
Another way to cause an incorrect element to be placed in the play area:

Turns out the smaller periodic table buttons have a consequence of firing on a mouse up event (in other words, the element selected doesn't change until the mouse button is released as opposed to when the mouse button is pressed).
1. Go to the Mix Isotopes screen, and choose an element.
2. Place at least one atom into the pl

[2016-02-05 22:11] pixelzoom opened #47 "sim fails lint"
As of @48bb8520bd7087d0d66fa6a0d180b0bd3542158e:

[code]

[2016-02-07 15:43] aadish commented on #35
fixed closing

[2016-02-07 15:43] #35 closed

[2016-02-07 15:44] aadish commented on #37
fixed closing

[2016-02-07 15:44] #37 closed

[2016-02-07 15:45] aadish commented on #38
fixed, closing

[2016-02-07 15:48] aadish commented on #45
fixed, closing

[2016-02-07 15:48] #45 closed

[2016-02-07 15:48] aadish commented on #47
fixed, closing

[2016-02-07 15:48] #47 closed

[2016-02-07 15:48] aadish commented on #39
fixed, closing

[2016-02-08 18:59] aadish commented on #46
@samreid Fixing this issue required adding the button listener for periodic table cell. This involved some change in tandem emitters.
The code change piece of code is here https://github.com/phetsims/shred/commit/a1fe879177bb988efa0ac3f4e3bd4e0e04538f6f

Can you review it to see if it doesn't break tandem

[2016-02-09 21:34] amyh-phet commented on #41
@aadish   The sliders seem to work better - less chance of sliding the entire screen instead of just moving the slider.   Let's see if there are issues when we interview.

[2016-02-09 23:39] aadish commented on #40
tried removing gradient but performance is not that great will be using canvas node

[2016-02-12 19:57] jbphet opened #48 "create dev version for use in interviews"
@amyh-phet is preparing to do interviews on this simulation, and @aadish is putting together a version to use for this.  This issue will track progress towards having a good release ready in time.

[2016-02-12 20:00] aadish commented on #48
@amyh-phet Please find the dev version [here](http://www.colorado.edu/physics/phet/dev/html/isotopes-and-atomic-mass/1.0.0-dev.6/isotopes-and-atomic-mass_en.html)
Have a look at it and if any issues are there that will be our top priority to resolve

[2016-02-12 20:02] amyh-phet commented on #48
@aadish  Thanks! I will look to see if there are any issues with the current dev version.

[2016-02-12 21:09] amyh-phet commented on #48
@aadish    The current dev version looks good (of course I'm not @phet-steele).   @phet-steele  if you have time on Friday or Monday, could you check the sliders on sulfur to see if we still have the problem with spacing on the left side of the screen?  If you don't have time, I will check when I get to the office on Tuesday morning.   Interviews are currently scheduled for 2/17 and 2/18.

[2016-02-12 21:16] phet-steele commented on #48
@amyh-phet I can certainly look at it. Maybe Friday...maybe Monday...maybe both, definitely before interviews.

[2016-02-12 22:57] phet-steele commented on #39
@aadish @amyh-phet  not quite fixed in a similar situation as shown below. The two middle labels are overlapping:

![iaamlabels](https://cloud.githubusercontent.com/assets/5863899/13022880/4dcc00a4-d1a1-11e5-99fd-828af374bb96.PNG)

[2016-02-16 18:26] phet-steele opened #49 "Resetting on hydrogen doesn't return the atoms"
@aadish pressing the reset all button on the Mix Isotopes screen while playing with hydrogen will not return the atoms to the bucket. They just disappear;

![iaam1](https://cloud.githubusercontent.com/assets/5863899/13086286/d723f05e-d49f-11e5-9382-bcb7f848d396.gif)

Switching to slider view or resetting on a different element fixes the issue (seen in the above video).

Seen on all platforms in 1.

[2016-02-16 18:49] phet-steele commented on #49
Also pressing the eraser fixes this.

[2016-02-16 22:42] aadish commented on #48
@phet-steele Thanks for pointing out the issues. Here is the dev-release which fixes these issues http://www.colorado.edu/physics/phet/dev/html/isotopes-and-atomic-mass/1.0.0-dev.7/isotopes-and-atomic-mass_en.html

Can you please look at it before the interviews

[2016-02-17 16:10] amyh-phet commented on #48
Thanks @aadish.   Looks good.   Will see how things go - two interviews today.

[2016-02-19 05:29] samreid commented on #46
I reviewed the change set and looked at the output from the periodic table cells, all seems good.  Anything else to do here @aadish?

[2016-02-19 18:13] aadish commented on #46
thanks @samreid for reviewing nothing else has to be done. Closing this as the behavior is working fine.

[2016-02-19 18:13] #46 closed

[2016-02-19 19:06] aadish opened #50 "Layout changes after the interview for Screen 2"
After the interviews @jbphet made some quick changes to the layout which look like this at the moment

![image](https://cloud.githubusercontent.com/assets/4546788/13185956/fbf76c5e-d700-11e5-92ce-63dabd00f08c.png)

@jbphet and @amyh-phet discussed this and figured that chamber box can be reduced a bit.

@amyh-phet Can you describe what should the layout finally look like and then we can make chang

[2016-02-19 19:27] amyh-phet commented on #50
@aadish  Below are two screen shots of what the final layout should look like.  I think that reducing the height of the black box slightly would give a bit more space above and below the sliders or buckets.  Let me know if I can further clarify layout changes.
![2016_02_19_new_layout_mix_isotopes](https://cloud.githubusercontent.com/assets/13650180/13186456/8e270218-d703-11e5-860e-e1da4453f383.png

[2016-02-22 21:51] amyh-phet commented on #48
Interviews in progress. Closing

[2016-02-22 21:51] #48 closed

[2016-02-22 21:52] amyh-phet commented on #41
No issue observed with interviews.  Closing.

[2016-02-22 21:52] #41 closed

[2016-02-22 21:53] amyh-phet commented on #26
No substantial lag seen in interviews, including on iPad 2.  Closing

[2016-02-22 21:53] #26 closed

[2016-02-22 21:55] amyh-phet commented on #50
@aadish  I have a few minor pixel polishes.  It might be better to meet in person to make the minor changes to layout if you are available.

[2016-02-22 22:00] amyh-phet opened #51 "Buckets return on Mix Isotopes Screen"
@aadish    On the Mix Isotopes screen, once sliders have been selected, sliders should remain selected if a user switches to a different element.  For instance, if a user is on hydrogen, changes from buckets to sliders but then selects lithium, the sliders for lithium should appear instead of buckets.  Current version of the sim defaults to buckets when a new element is selected.

[2016-02-23 21:06] aadish commented on #51
@amyh-phet current implementation is in sink with java version.

Is the behavior needs to change from the java version?

[2016-02-23 21:08] aadish commented on #50
Sure @amyh-phet we can meet tomorrow. I will come by your office.

[2016-02-23 21:13] amyh-phet commented on #51
@aadish    Would this be an expensive fix? I recognize that current behavior is from the Java version of the sim.  I would prefer to keep the slider/bucket selection the same if a user changes to a new element.  Sorry I didn't catch this behavior in the Java sim until now.

[2016-02-23 21:14] amyh-phet commented on #50
Thanks.

[2016-02-23 21:37] ariel-phet commented on #51
Expensive or not, this is a change that should be made, it brings a more consistent and logical user experience. Of course, no need to worry about the Java sim, that can stay as is.

[2016-02-25 22:03] jbphet opened #52 "finalize credits"
The sim is getting close to publication, time to finalize the credits.

[2016-02-25 22:15] amyh-phet commented on #51
@aadish   The new behavior looks great.  Thank you for implementing this.

[2016-02-25 22:16] amyh-phet commented on #50
@aadish    One last layout tweak.  On the Mix Isotopes screen, the Isotope Mixture label needs to be moved down closer to the labels and radio buttons.    As far as I know, this is the last minor change!

[2016-02-25 22:19] amyh-phet opened #53 "Layering behavior"
On the Mix Isotopes screen, when a user selects an atom from one of the buckets, the atom should move to the top of the layer.  When dragging the atom, it should appear in front of most items on the screen (for example, the bucket/slider buttons, periodic table, and percent composition/average atomic mass panels).  The only exception would be the buckets, which should remain at the very top of the

[2016-02-26 17:41] ariel-phet commented on #19
@amyh-phet assigning to you for the colorblind check and pasting notes into the design doc.

[2016-02-26 19:07] phet-steele commented on #49
@aadish, in the current version of master (2/26 noon), resetting while in slider view for hydrogen will not return the atoms to the bucket. So far it looks like only hydrogen has this problem:

![iaam3](https://cloud.githubusercontent.com/assets/5863899/13362395/67408cea-dc81-11e5-9b35-2fbe50c045cc.gif)

[2016-02-29 22:36] amyh-phet opened #54 "Screen names"
@aadish   I just noticed that the screen names in Isotopes and Atomic Mass are still the same as the tab names from the Java version of the sim.  Screen name for the first screen should be Isotopes and the second screen should be called Mixture.

[2016-03-01 19:32] phet-steele opened #55 "Automated Testing TypeError"
While fuzztesting in require js off phettest:

[code]

[2016-03-01 22:15] aadish commented on #55
fixed closing

[2016-03-01 22:15] #55 closed

[2016-03-01 22:15] aadish commented on #54
fixed, closing

[2016-03-01 22:15] #54 closed

[2016-03-22 18:51] phet-steele opened #56 "Automated Testing Build Errors (3/22/2016 10:00 AM)"
[code]

[2016-03-22 21:11] aadish commented on #56
fixed, closing

[2016-03-22 21:11] #56 closed

[2016-05-03 14:38] amyh-phet commented on #19
@ariel-phet   Notes are now in design doc.  Sending this back to you for next steps on the checklist.

[2016-05-04 22:13] jbphet opened #57 "code review"
This sim needs to be code reviewed.  Here is a snapshot of the current code review checklist:

PhET code-review checklist
=============

**Build and Run Checks**

- [x] Does the sim pass lint?
- [x] Does the sim build without errors?
- [x] Does the sim start up? (requirejs and built versions)
- [x] Does the sim experience any assertion failures? (run with query parameter 'ea')
- [x] Does the sim p

[2016-05-05 18:05] aadish commented on #53
this has been fixed and would be tested in next test candidate

[2016-05-05 18:06] aadish commented on #51
fixed would be tested in next test candidate

[2016-05-05 18:07] aadish commented on #50
fixed, closing

[2016-05-05 18:07] #50 closed

[2016-05-05 18:11] aadish commented on #49
fixed, would be tested in next test candidate

[2016-05-05 18:15] aadish commented on #44
currently not handling muti touch issues

[2016-05-05 18:16] aadish commented on #42
currently not handling mutitouch issues

[2016-05-05 18:16] aadish commented on #40
should be tested in next candidate

[2016-05-05 18:16] aadish commented on #39
fixed, should be tested in next candidate

[2016-05-05 18:17] aadish commented on #36
currently not handling multitouch issues

[2016-05-05 18:18] aadish commented on #34
currently not handling multitouch

[2016-05-05 18:18] aadish commented on #33
fixed, should be tested in next test candidate

[2016-05-09 14:12] andrewadare opened #58 "Neutrons fall diagonally back to bucket"
Just doing some initial playing around with this sim to get familiar. Dropping a neutron above the empty part of the bucket causes it to fall diagonally, on top of the others. This happens unless the drop height is fairly low.

Maybe not a bug per se, but unexpected behavior.

(#57)

[2016-05-09 15:48] andrewadare opened #59 "Credits have not been assigned"
isotopes-and-atomic-mass-main.js still contains a TODO for this.

(#57)

[2016-05-09 16:31] andrewadare opened #60 "Minor whitespace and indentation issues throughout"
I'll post a few examples. Would be good to run a formatting tool throughout the whole sim.

Spacing:

https://github.com/phetsims/isotopes-and-atomic-mass/blob/96c79c27c33a4173c1d405d8fff8808f13abcfba/js/common/view/PieChartNode.js#L123

https://github.com/phetsims/isotopes-and-atomic-mass/blob/96c79c27c33a4173c1d405d8fff8808f13abcfba/js/make-isotopes/model/MakeIsotopesModel.js#L26

Indentation (s

[2016-05-09 16:39] andrewadare opened #61 "`that = this` ?"
Might just be my inexperience...is `var that = this` idiomatic for naming the enclosing scope for use inside nested functions? I tend to see (and use) conventions like `var self = this` (perhaps my Python background) or something like `var thisNode = this`.

It is used in MakeIsotopesModel and MixIsotopesModel. Feel free to close if this not a deviation from the code standards.

(#57)

[2016-05-09 17:03] andrewadare opened #62 "Undocumented parameters"
https://github.com/phetsims/isotopes-and-atomic-mass/blob/96c79c27c33a4173c1d405d8fff8808f13abcfba/js/make-isotopes/model/MakeIsotopesModel.js#L159-L163

https://github.com/phetsims/isotopes-and-atomic-mass/blob/96c79c27c33a4173c1d405d8fff8808f13abcfba/js/make-isotopes/model/MakeIsotopesModel.js#L159-L163

https://github.com/phetsims/isotopes-and-atomic-mass/blob/96c79c27c33a4173c1d405d8fff8808f13

[2016-05-09 17:11] andrewadare opened #63 "Commented code with TODO marker"
https://github.com/phetsims/isotopes-and-atomic-mass/blob/96c79c27c33a4173c1d405d8fff8808f13abcfba/js/make-isotopes/view/TwoItemPieChartNode.js#L47-L52

Is this still outstanding? If not, can it now be removed?

(#57)

[2016-05-09 17:20] andrewadare opened #64 "Long source lines"
Please shorten or wrap to fit within the 120 character limit:

 - [x] AtomScaleNode.js
 - [x] InteractiveIsotopeNode.js
 - [x] IsotopeTestChamber.js
 - [x] MixIsotopesModel.js
 - [x] NumericalIsotopeQuantityControl.js

(#57)

[2016-05-09 17:31] andrewadare opened #65 "Replace Math.round with dot.Util.roundSymmetric if necessary"
From the code review checklist:

Files containing Math.round:

 - MakeIsotopesScreenView.js
 - MixIsotopesModel.js
 - MixIsotopesScreenView.js

(#57)

[2016-05-09 17:34] andrewadare commented on #65
I didn't check the domain of the numbers to be rounded. The replacement may not be necessary if the numbers are guaranteed to be positive, but please verify.

[2016-05-09 17:46] andrewadare opened #66 "Missing documentation files"
According to the CRC, there should be a model.md, implementation-notes.md, and a QueryParameters.js file.

(#57)

[2016-05-09 17:52] andrewadare opened #67 "Set pickable with enabled?"
Should these settings

https://github.com/phetsims/isotopes-and-atomic-mass/blob/96c79c27c33a4173c1d405d8fff8808f13abcfba/js/mix-isotopes/view/ControlIsotope.js#L83-L84

also be accompanied by a pickable setting? From the CRC:

If this is okay, please close.

(#57)

[2016-05-09 17:56] andrewadare opened #68 "Use Dot/random instead of Math.random"
IsotopeTestChamber contains three calls to Math.random.

(#57)

[2016-05-09 18:05] aadish commented on #58
This is done to maintain the stacking of particles in the bucket, same behavior exist in build an atom, closing this as it is not an unexpected behavior

[2016-05-09 18:05] #58 closed

[2016-05-09 18:36] andrewadare opened #69 "MonoIsotopeBucket takes too many parameters"
Currently, it takes 7 (8 with a future Tandem instance).

This is a design/maintenance liability because of JavaScript's lack of runtime parameter checking.

Ideally, it should be closer to 4 or 5. Please check if there is a straightforward way to reduce the number of parameters without making other design compromises (perhaps use default options, pass in a larger object, or some other strategy).

[2016-05-09 19:15] andrewadare opened #70 "Missing calls to `unlink`"
There are 19 occurrences of `link` and 4 occurrences of `lazyLink`, but currently only one `unlink` call in the whole sim.

According to the CRC, the unlink functions should be called in the appropriate places, or explanations of why they are omitted should be provided.

(#57)

[2016-05-09 20:11] andrewadare opened #71 "Use https for PhET URL in README.md"
This will most likely be handled automatically when README.md is regenerated, but posting this as an issue anyway: here's a diff between the currently committed (-)  and newly-built (+) README files.
[code]

(#57)

[2016-05-09 20:32] andrewadare commented on #70
Looks like shred contains lots of useful examples for guidance on how/where to pair the unlink functions with the links.

[2016-05-11 21:57] aadish commented on #67
for buttons pickable setting is handled by button class, so no need to explicitly set pickable to false

closing

[2016-05-11 21:57] #67 closed

[2016-05-12 19:39] aadish commented on #60
indentation commit https://github.com/phetsims/isotopes-and-atomic-mass/commit/b1b129b97e5e5cdbe267f7d4103876910463c670

[2016-05-13 17:51] aadish commented on #66
No sim specific query parameter has been used so there is no need for this file

[2016-05-13 17:56] aadish commented on #71
fixed, closing

[2016-05-13 17:56] #71 closed

[2016-05-13 17:57] aadish commented on #68
fixed, closing

[2016-05-13 17:57] #68 closed

[2016-05-13 17:57] aadish commented on #65
fixed, closing

[2016-05-13 17:57] #65 closed

[2016-05-13 17:57] aadish commented on #63
fixed, closing

[2016-05-13 17:57] #63 closed

[2016-05-13 17:58] aadish commented on #61
fixed, closing

[2016-05-13 17:58] #61 closed

[2016-05-16 16:54] aadish commented on #57
@andrewadare I have fixed the issues raised, closed a few which were trivial, if you can look at the open issues verify and close

[2016-05-16 17:54] andrewadare commented on #59
Still missing a key for "awesome code reviewer". Just kidding. Credits filled as requested, so closing.

[2016-05-16 17:54] #59 closed

[2016-05-16 18:10] andrewadare opened #72 "Fix comment"
Can you make this comment clearer?

https://github.com/phetsims/isotopes-and-atomic-mass/blob/0b6d85051ba9c57010d375f4d04a597805beb4af/js/make-isotopes/view/TwoItemPieChartNode.js#L70

[2016-05-16 18:12] #60 closed

[2016-05-16 18:19] andrewadare commented on #62
A few undocumented functions remain in IsotopeProportionsPieChart.

[2016-05-16 18:22] andrewadare commented on #64
Looks good, thanks.

[2016-05-16 18:22] #64 closed

[2016-05-16 18:23] andrewadare commented on #69
Looks great, thanks.

[2016-05-16 18:23] #69 closed

[2016-05-16 18:25] andrewadare commented on #70
I now see either `unlink` calls or docs explaining their absence. Looks good; closing.

[2016-05-16 18:25] #70 closed

[2016-05-16 18:26] andrewadare commented on #66
Got it, let's close this one then.

[2016-05-16 18:26] #66 closed

[2016-05-16 18:32] andrewadare commented on #57
I've reviewed your changes, closed several issues, made a few commits of my own, and left a few remaining small issues open for you to address. Back over to you!

[2016-05-16 19:40] ariel-phet commented on #19
@aadish can you verify the port strings and "model description" steps in the checklist above and then reassign to me?

[2016-05-16 20:06] phet-steele opened #73 "Hydrogen buckets disappear on reset"
1. On hydrogen, go to Nature's mix
2. Reset
3. Viola, no buckets:

![nobuck](https://cloud.githubusercontent.com/assets/5863899/15302212/051c74b6-1b6f-11e6-97b4-1176aaa50116.PNG)

Seen on all Win 10 browsers. For phetsims/tasks/issues/595

Troubleshooting information:
Name: ‪Isotopes and Atomic Mass‬:‪Isotopes and Atomic Mass‬
URL: http://www.colorado.edu/physics/phet/dev/html/isotopes-and-atomic-

[2016-05-16 20:16] phet-steele commented on #33
Fixed in 1.0.0-rc.1

[2016-05-16 20:16] #33 closed

[2016-05-16 20:19] phet-steele commented on #39
Labels look good to me in 1.0.0-rc.1.

[2016-05-16 20:19] #39 closed

[2016-05-16 20:21] phet-steele commented on #49
Fixed in 1.0.0-rc.1.

[2016-05-16 20:21] #49 closed

[2016-05-16 20:23] phet-steele commented on #51
Behaviour implemented!

[2016-05-16 20:23] #51 closed

[2016-05-16 20:25] phet-steele commented on #53
Layers look great in 1.0.0-rc.1!

[2016-05-16 20:25] #53 closed

[2016-05-16 21:29] aadish commented on #19
@ariel-phet  done

[2016-05-17 18:42] brroberts1231 opened #74 "Artifacts when collapsing menus on IE11"
Test device: Schrodinger

Operating System: Win 8

Browser: IE11

Problem description: When you collapse any of the boxes, the horizontal line at the bottom of the box remains where it was. Only seen on IE11.

Severity: low

Screenshots:
![isotopes atomic mass](https://cloud.githubusercontent.com/assets/11947677/15334727/a8a887ec-1c2c-11e6-819f-67eb0d845d01.png)

Troubleshooting information (do no

[2016-05-17 18:46] ariel-phet commented on #74
@brroberts1231 reminder...please reference test issue :)

[2016-05-17 18:48] brroberts1231 commented on #74
Right. phetsims/tasks#595

[2016-05-17 19:23] phet-steele commented on #40
Performance is OK, @ariel-phet @amyh-phet please give you opinions. I'm on the fence, but if nothing else can be done then I'd feel okay as is.

[2016-05-17 20:31] ariel-phet commented on #40
Tested on iPad 2 iOS 9.3.2

On Suflur if sliders are moved at a moderate speed performance is reasonable

If going to extremes quickly there is a noticeable lag, but I don't think it wold be pedagogically damaging.

Assigning to @amyh-phet to make the final call. It seems to me in the normal use case scenario we are fine

[2016-05-17 20:32] ariel-phet commented on #40
@amyh-phet please feel free to close if you deem acceptable.

If not, I will get an estimate as to what could be done to eek out more performance :)

[2016-05-17 22:16] amyh-phet commented on #40
@ariel-phet   When I looked at it on iPad 2 iOS 9.3.2, performance seemed reasonable to me as well.  I agree there is a lag if adding large numbers of atoms quickly, but I don't anticipate this would be done in normal use.

Closing.

[2016-05-17 22:16] #40 closed

[2016-05-17 23:07] aadish commented on #62
@andrewadare fixed that, closing

[2016-05-17 23:07] #62 closed

[2016-05-17 23:07] aadish commented on #72
@andrewadare does the comment makes sense now

[2016-05-17 23:09] aadish commented on #52
added credits closing

[2016-05-17 23:09] #52 closed

[2016-05-17 23:11] aadish commented on #57
@andrewadare fixed the small issues and have closed the issues for shred, you want to take a look

[2016-05-18 13:34] andrewadare commented on #72
Sorry to drag out this minor issue. If you find [my suggestion](https://github.com/phetsims/isotopes-and-atomic-mass/commit/e9abba750c89709809d7ea5568e43008ee207a27#commitcomment-17523232) agreeable, just add it and close. Thanks!

[2016-05-18 15:59] aadish commented on #72
no issues @andrewadare this is also a learning experience for me, fixed closing

[2016-05-18 15:59] #72 closed

[2016-05-18 19:03] brroberts1231 commented on #73
Fixed, closing.

[2016-05-18 19:03] #73 closed

[2016-05-18 19:03] brroberts1231 commented on #74
Fixed, closing.

[2016-05-18 19:03] #74 closed

[2016-05-24 21:21] aadish opened #75 "Radio button text on Mix Isotope's Screen"
The width of radio button text on mix isotope screen can be increase a bit
![image](https://cloud.githubusercontent.com/assets/4546788/15520334/0e4cc6f8-21c3-11e6-9e36-8b3c6d372944.png)

[2016-05-25 15:20] jbphet commented on #75
I just checked two other translations that tend to have long words, and the "Nature's Mix" label is being scaled down in those too (see screenshots below).  I think it would be worth fixing this so that the strings can be longer and doing a maintenance release.  The current length limit is, I believe, due to the fact that the bucket vs. slider selector control used to be in the same area of the si

[2016-05-25 15:43] aadish commented on #75
Did a maintenance release and this 06c9e7a85cce8c0459549af0f7eda1a423ec00a6 fixes it

Current screenshot for danish and latvian

![image](https://cloud.githubusercontent.com/assets/4546788/15546403/052c0008-225d-11e6-9c5d-c2baedda6b63.png)

![image](https://cloud.githubusercontent.com/assets/4546788/15546423/18c808e6-225d-11e6-938c-98ebd946a880.png)

Closing it

[2016-05-25 15:43] #75 closed

[2016-05-25 17:37] #57 closed

[2016-06-10 19:57] ariel-phet commented on #19
@amyh-phet looks like just one particular item left :). Assigning to you

[2016-07-27 17:38] amyh-phet commented on #19
Sim primer complete.  Closing as checklist is completed

[2016-07-27 17:58] #19 closed

[2016-08-25 23:22] pixelzoom opened #76 "sim relies on align:'right' default for Panels"
Related to https://github.com/phetsims/sun/issues/252, this sim relies on the old default of `align:'right'` for Panels.  Below are the stack traces for occurrences that need to be checked. These are the occurrences noted when loading the sim in requirejs mode. If the sim creates Panels dynamically, you should do further checking with fuzzMouse.

[code]

[2016-08-26 14:33] pixelzoom commented on #76
None of the above call sites use the `minWidth` option, so their behavior will be unaffected.  Closing.

[2016-08-26 14:33] #76 closed

[2016-08-29 19:30] pixelzoom opened #77 "adjust touchArea options for HSlider thumb"
In https://github.com/phetsims/sun/issues/254, the touchArea defaults for HSlider thumb were changed so that they default to pixels, not a percentage of the thumb size.  Sims that use HSlider's `thumbSize` option will therefore need to also specify `thumbTouchAreaXDilation` and `thumbTouchAreaYDilation`.

[2016-08-30 18:01] jbphet commented on #77
Adjusted touch areas to match those of the currently live version, closing.

[2016-08-30 18:01] #77 closed

[2016-09-23 16:27] oliver-phet opened #78 "User feedback: spacing between characters"
Submitted by Sandor Nagy:

![image001](https://cloud.githubusercontent.com/assets/5090275/18793480/395ca93e-8178-11e6-983f-aab6052d12a2.png)

@ariel-phet can you comment on the above feedback? @jbphet asked me to assign to @aadish for now.

[2016-09-23 16:37] ariel-phet commented on #78
There is no space between the number and percent on the first screen, so we should be consistent.

Generally speaking, in writing, there is no space, ie "96.3%"

The user is also correct about the units, I am surprised we missed this. certainly there should be a space between the number and the unit "amu" on the second screen.

[2016-09-23 16:39] ariel-phet commented on #78
@aadish we should probably do a maintenance release

[2016-09-23 19:11] aadish commented on #78
@oliver-phet @ariel-phet the fix has been made and maintenance release has been done for the same and is live on the website

@oliver-phet can you let Sandor know changes have been made

[2016-09-23 19:14] oliver-phet commented on #78
Thanks @aadish ! Will report to user.

[2016-09-23 19:14] #78 closed

[2016-09-23 19:18] oliver-phet commented on #78
Ah yes, very nice!

[2016-09-26 16:53] oliver-phet opened #79 "User reported issue: isotope question"
Reported Sep 26, 2016:

Maybe @amyh-phet can comment?

[2016-09-26 17:20] ariel-phet commented on #79
@oliver-phet I think this user is sort of missing the point of the sim. In the first screen you can build these other isotopes, but the second screen is about abundance in nature.

Yes, it is true fluorine has many other isotopes but they are not abundant in nature. Most of these are supremely unstable (lasting only a few seconds or lasting only 1x10^-20 seconds). Therefore the second screen is fo

[2016-09-26 17:22] ariel-phet commented on #79
Or if you want short answer:

"On the second screen only *stable* isotopes are shown so students can investigate how the abundance of stable isotopes affects the average mass"

[2016-09-26 17:26] oliver-phet commented on #79
Email to user sent!

[2016-09-26 19:51] amyh-phet commented on #79
@oliver-phet  and @ariel-phet    I will update teacher tips accordingly.

[2016-09-26 19:52] oliver-phet commented on #79
Ok, I think that's all for this. Can you close this issue once the new tips have been published?

[2016-09-26 19:53] amyh-phet commented on #79
Can do!

[2016-09-26 20:04] #79 closed

[2016-10-18 17:02] phet-steele opened #80 "Automated Testing Sim Error (10/18/2016 10:00 AM)"
[code]

[2016-10-18 17:03] phet-steele opened #81 "Automated Testing Build Error (10/18/2016 10:00 AM)"
[code]

[2016-10-18 22:17] aadish commented on #80
fixed, closing

[2016-10-18 22:17] #80 closed

[2016-10-18 22:19] aadish commented on #81
fixed, closing

[2016-10-18 22:19] #81 closed

[2017-02-24 23:13] phet-steele commented on #38
@aadish this is actually not fixed. The above commit does not take into account when you grab the LAST neutron in an atom. My guess is that

`self.particleAtom.neutronCount > 0`

should be changed to

`self.particleAtom.neutronCount >= 0`

@ariel-phet said:
"if possible this would be good to fix as a maintenance release so long as the [actual] fix is not too invasive"

[2017-02-27 17:44] aadish commented on #38
@phet-steele thanks for catching this and yes the fix is the one suggested by you, it should have been fixed by the above commit, will go ahead and create a maintenance release

[2017-02-28 22:08] phet-steele commented on #38
Looks good, thanks @aadish.

[2017-02-28 22:08] #38 closed

[2017-09-18 15:30] oliver-phet opened #82 "User suggestion: more than 100 atoms, additional elements"

[2017-09-18 15:30] oliver-phet commented on #82
Assigning to @ariel-phet for the time being.

[2017-09-18 15:54] ariel-phet commented on #82
@oliver-phet can you let the user know that the number of elements was limited due to performance concerns. Also let the user know that we can visit these suggestions once iPad2 is no longer a supported platform (so perhaps over this coming summer), but with our current priorities it will be awhile. And of course thank them for the suggestion.

[2017-09-18 17:29] ariel-phet commented on #82
@oliver-phet I am going to leave this issue open, but not assign anyone for the moment

[2018-08-01 03:48] tuzenvn opened #83 "How can I add more Proton, Neutron, Electron in trajectory"
In your site have 10 items of  Proton, Neutron and Electron.
I need to more items (about 20 items for each). How can I add more?

Please help me

Thanks

[2018-08-01 17:19] ariel-phet commented on #83
@tuzenvn The number of items available in the simulation is chosen to be constrained on purpose. If you wish to add more, that would need to be done by someone with programming knowledge. Our code is open-source, and certainly this could be accomplished, but our team has not plans to change this constraint on the published simulation.

[2018-10-09 17:43] jbphet opened #84 "CT failing due to a new test for acceptable max width values"
This sim is failing continuous test, readout shown below.  It is happening due to a bounds check that was recently added to test for valid maxWidth values in scenery nodes.

CT error output:

[code]

[2018-10-10 18:10] jbphet commented on #84
Should now be fixed, I'll take a look at CT in about two hours from now and, if the tests are passing, I'll close.

[2018-10-10 20:11] jbphet commented on #84
All tests have succeeded for this sim for the last four rounds of CT, closing.

[2018-10-10 20:11] #84 closed

[2019-03-06 00:04] oliver-phet opened #85 "User suggestion: tritium (trace) abundance"

[2019-03-06 23:59] jbphet commented on #85
I looked up the abundance on Wikipedia, and it says "trace".  Maybe we should just add that, and not try to go for a numeric value.  We also say 0% for Carbon-14, but Wikipedia says 1 ppt for it, so perhaps "trace" would be appropriate there too.

@oliver-phet - could you please provide me with the email of the person who contacted you so that I could have a direct dialog with them on good terms f

[2019-03-07 23:09] arouinfar commented on #85
Looking at [NIST](https://www.nist.gov/pml/atomic-weights-and-isotopic-compositions-relative-atomic-masses) and [IUPAC](http://www.ciaaw.org/isotopic-abundances.htm), H-3 and C-14 are not listed in isotope abundance tables, and the other stable isotopes add up to 100%. The current design of the simulation is in line with with these conventions.

I don't see any particular harm in using "trace" ins

[2019-03-08 17:42] jbphet commented on #85
I'd be in favor of doing this.  I feel like it must be a bit confusing for people who are learning this material to understand how something like carbon dating works when the sim says that 0% carbon-14 exists in nature.  "Trace" seems like a reasonable way to do this, and I'd just add support for that readout and value in the sim.  We could do as many isotopes makes sense, having more doesn't impl

[2019-03-08 17:43] jbphet commented on #85
I emailed the teach and asked if using the term "trace" seemed appropriate in these circumstances.  The response was:

[2019-03-10 09:07] ariel-phet commented on #85
As for the slippery slope brought up by @arouinfar it looks like the official definition of "trace" is isotopes that are produced by other natural processes

https://en.wikipedia.org/wiki/Trace_radioisotope

So I think we only want to use "trace" in these cases (H-3 and C-14 are such cases). So as long as we are consistent, trace seems acceptable.

[2019-03-11 15:39] arouinfar commented on #85
Thanks @ariel-phet! Looking at the Trace Radioisotope wiki article you linked, all of these isotopes should be listed with "trace" abundance:

Beryllium-7
Beryllium-10
Carbon-14
Fluorine-18

@jbphet let's move forward with this change, though I would still like @ariel-phet to weigh in on whether or not we should send the sim through QA to pick up LoL support.

[2019-03-13 04:23] ariel-phet commented on #85
@jbphet @arouinfar yes, QA should have the time, would be good.

[2019-03-20 19:58] jbphet commented on #85
I've implemented this feature, but there is one design question that should be resolved before an RC is published.  The question is this: How should we handle elements that only have one fully stable isotope, such as beryllium and fluorine?  In the dev version linked below, the behavior for isotopes like hydrogen-3 and carbon-14 seems great, but these both have other isotopes in addition to the tr

[2019-03-22 18:52] arouinfar commented on #85
@jbphet great questions. I think the behavior in 1.1.0-dev.1 looks good!

Agree, that seems perfectly reasonable to me.

I don't think this is an issue. Let's consider carbon -- the abundance of C-12 and C-13 add up to exactly 100%, but C-14 has a "trace" abundance. This is consistent with the behavior of Be and F, and I think seeing "trace" could be a good starting point for productive class disc

[2019-03-22 20:28] jbphet commented on #85
This issue was briefly discussed in the 3/21/2019 status meeting, and @kathy-phet felt that it would be best to leave it as is in the dev version.  @emily-phet suggested considering having something on the right side of the pie chart indicating that trace amounts of other isotopes exist.  It was also suggested that I contact one of the chemists who has consulted with us on the design of the chem-r

[2019-03-25 18:06] ariel-phet commented on #85
No strong objections from me.

[2019-03-26 15:57] jbphet commented on #85
I shared an RC with the teacher who originally reported the issue.  She said,

[2019-03-28 19:25] jbphet commented on #85
Unassigning until RC testing is complete, see https://github.com/phetsims/QA/issues/300.

[2019-04-04 16:20] KatieWoe opened #86 "Memory Test jumps around"
Normal Test:
Start: 27.0
1: 46.3
2: 48.3
3: 43.9
4: 94.1
5: 39.3
6: 105
7: 112
8: 90.5
9: 104
10: 42.9
---
Screen 1:
Start: 27.2
1: 24.1
2: 27.3
3: 27.4
4: 26.7
5: 26.4
6: 26.5
7: 28.3
8: 29.0
9: 28.1
10: 28.1
---
Screen 2:
Start: 27.3
1: 36.3
2: 101
3: 38.2
4: 81.6
5: 81.8
6: 79.7
7: 84.8
8: 83.6
9: 95.9
10: 93.8
---
For https://github.com/phetsims/QA/issues/300

[2019-04-04 16:45] arouinfar opened #87 "LoL icons & descriptions"
For https://github.com/phetsims/QA/issues/300

[2019-04-04 17:57] KatieWoe opened #88 "Fluorine 18 and 19 should have different amu"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/300
Bot F-18 and F-19 say amu=18.99840 on the isotopes screen.  According to Wikipedia F-18 should be 18.0009373(5).
**Steps to reproduce:**
1. Go to the Isotopes screen
2. Select F on the periodic table
3. Select Atomic Mass (amu)
4. Remove a neutron to compare

[2019-04-04 17:59] KatieWoe commented on #85
Wrinkle found in https://github.com/phetsims/isotopes-and-atomic-mass/issues/88 (1.1.0-rc.1)

[2019-04-04 18:39] KatieWoe opened #89 "Slight pointer area overlap on Isotopes screen"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/300
The touch pointer area to expand/contract the symbol box overlaps the pointer areas of the periodic table a bit.
**Steps to reproduce:**
1. Set showPointerAreas
2. Go to the isotopes screen
3. Observe overlap

**Screenshots:**
![pointerareaoverlaps](https://

[2019-04-04 18:57] KatieWoe opened #90 "Trace string has no max width"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/300
When string test is long you can see that the string "Trace" does not get smaller and overlaps many other aspects of the sim when present.  This can be seen a bit with stringTest=double, as the box gets bigger, but it is not yet a problem at that point.
**St

[2019-04-04 19:37] KatieWoe commented on #89
This is in published version

[2019-04-04 22:17] jbphet commented on #86
@KatieWoe - can you please note the version tested and also see if this is a new issue or if it exists on the published version?  When done, please assign back to me.

[2019-04-04 22:47] KatieWoe commented on #86
Sim Tested: https://phet-dev.colorado.edu/html/isotopes-and-atomic-mass/1.1.0-rc.1/phet/isotopes-and-atomic-mass_en_phet.html
I did a quick check of the second screen on the published version, and didn't see it.  I need to wait until tomorrow to do the full tests, so I'll be sure then.

[2019-04-05 14:54] KatieWoe commented on #86
Here are the results of the memory test for the published version.  The first is taken upon loading the sim and the rest taken every minute.
![memorytestpublished](https://user-images.githubusercontent.com/41024075/55636574-59785700-5780-11e9-9911-c40dd41ce664.png)

[2019-04-05 15:12] KatieWoe commented on #34
This was seen again in https://github.com/phetsims/QA/issues/300.  As noted above it is in the published version.  However, it seems rather easy to do with the potential of crashing the sim.  So I wanted to highlight it in this rc.

[2019-04-05 17:14] KatieWoe opened #91 "Edge rtl text goes off buckets"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
Edge
**Problem description:**
For https://github.com/phetsims/QA/issues/300
This does not occur in the published version.  Only seen on edge so far.  When string test is rtl, the text on the buckets holding isotopes on the second screen goes off center and runs off the edge of the bucket.  Since the text and background are both white

[2019-04-05 17:47] KatieWoe commented on #91
More noticeable the more buckets there are.

[2019-04-05 17:50] KatieWoe commented on #91
The labels on the sliders are off center as well.

[2019-04-05 18:05] arouinfar commented on #91
This looks a bit odd to me, can you investigate @jbphet?

[2019-04-05 18:21] KatieWoe commented on #42
Happening in https://github.com/phetsims/QA/issues/300.  Noting that these extra isotopes seem to stick around even after a second reset once you've let go of them.

[2019-04-05 22:12] KatieWoe commented on #91
Not in IE on same device

[2019-04-08 17:46] arouinfar opened #92 "Update teacher tips (trace abundance)"
For https://github.com/phetsims/QA/issues/300

The changes made in #85 should be documented in the Teacher Tips.

[2019-04-08 17:47] #83 closed

[2019-04-08 17:48] arouinfar commented on #82
@ariel-phet now that we no loner support iPad2, is this something we should be considering for the upcoming redeploy?

[2019-04-08 18:11] arouinfar commented on #92
Tips have been updated and uploaded to Drive.

[2019-04-12 20:31] jbphet commented on #90
Good catch.  There was no max width on the readout because it previously was always limited to a fixed number of digits.  I've added one, and fixed an issue with how the layout looks with long strings.

[2019-04-12 20:42] jbphet commented on #88
Another good catch.  It should now be fixed.

[2019-04-12 20:45] KatieWoe commented on #91
@ariel-phet and @jbphet depending on how long this fix takes and how long it takes edge to switch to chromium, this may not be worth addressing.  I did a check of this on the dev version of edge and the problem did not show up.  I don't believe it showed up anywhere else that was tested.

[2019-04-12 20:50] jbphet commented on #89
I reduced the dilation value used to 12 from 16, and that appears to have done the trick.  Here is what it looks like now:
![image](https://user-images.githubusercontent.com/3082831/56065515-4b9f7480-5d32-11e9-819f-7b0420ab54d8.png)

[2019-04-12 20:54] jbphet commented on #91
Since this is an unusual situation, i.e. and RTL language being used in Edge, and will likely be fixed in Edge soon, I think it isn't worth much of an investment of time and effort to investigate and fix.  Assigning to @ariel-phet to make sure he concurs.

[2019-04-12 23:28] jbphet commented on #86
I've spent a bit of time looking at this, and I think I have at least a cursory idea of what is going on.  The problem occurs only on the 2nd screen as [the initial bug report](https://github.com/phetsims/isotopes-and-atomic-mass/issues/86#issue-429370113) indicates.  Through testing, I've determined that the high memory values only occur when displaying "Nature's Mix" on this screen.  I can get s

[2019-04-12 23:30] jbphet commented on #86
This is what the screen looks like when displaying "Nature's Mix", which is when memory consumption peaks:
![image](https://user-images.githubusercontent.com/3082831/56071004-9af09f80-5d48-11e9-8d7c-c1cdc15e0347.png)

[2019-04-15 19:16] ariel-phet commented on #91
@jbphet I concur...not worth the effort.

Marking as `wontfix`

[2019-04-15 19:41] jbphet commented on #86
I spent a couple hours trying out something fairly simple that I thought might be a good way to resolve this problem, but it didn't work out.  I was adding too much complexity to the code and, though I potentially could have gotten it working, the code would have been much more complex and hard to maintain.

I think the best way to solve this problem is to create a base class for `MoveableAtom` ca

[2019-04-15 21:01] KatieWoe opened #93 "Usability on small screens review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* None seen

Screenshots:
![Image from iOS (1)](https://user-images.githubusercontent.com/41024075/56165067-43904080-5f8f-11e9-9326-d1709fcd

[2019-04-15 21:01] #93 closed

[2019-04-16 14:38] KatieWoe opened #94 "CT radiusProperty"
[code]

[2019-04-17 16:04] jbphet commented on #91
Closing.

[2019-04-17 16:04] #91 closed

[2019-04-17 19:19] jbphet commented on #94
I fixed this, and just verified that the sim passed the last several rounds of CT.  Closing.

[2019-04-17 19:19] #94 closed

[2019-04-18 18:25] samreid commented on #86
Here's a quick change that could save around 20MB:

<details>

[code]
</details>

[2019-04-22 17:59] jbphet commented on #86
I'm going to define two repeatable test procedures that demonstrate the large memory usage.  I'm going to list these in detail so that I, the QA team, and anyone else can methodically test changes.

For the results shown below, this testing was done on Win 10, Chrome 73.0.3683.103.

Setup: There should be no other incognito windows up at the start of this test, and the test window must be closed o

[2019-04-22 19:10] jbphet commented on #86
@samreid's change made sense, but I felt like we would get an even greater improvement if I were to factor our usage of mutable values in the isotopes used in the test chamber on the 2nd screen.  Based on the data logged in the previous comment, it looks like that is true, so I'm going with that approach.

[2019-04-22 19:12] jbphet commented on #86
@samreid and @zepumph - you were assigned this issue to see if there is a PhET-iO action that should be taken to fix things.  I have a solution in place for the immediate problem and am unassigning myself, I'll leave it up to you whether to also unassign (and perhaps create a separate PhET-iO issue if you feel any other followup is warranted).

[2019-04-22 19:29] KatieWoe commented on #90
Looks ok in rc.2

[2019-04-22 19:29] #90 closed

[2019-04-22 19:39] KatieWoe commented on #88
Looks good in 1.1.0-rc.2

[2019-04-22 19:39] #88 closed

[2019-04-22 20:00] KatieWoe commented on #86
These are the results of a quick normal memory test I did as a comparison:
Start: 26.5
1: 48.7
2: 60.4
3: 60.5
4: 61.3
5: 64.3
6: 40.8
7: 60.5
8: 62.6
9: 64.4
10: 63.9

[2019-04-22 20:20] KatieWoe commented on #86
Procedure 1: 50.1
Procedure 2: 96.7
In addition, I did a modified version of Prcedure 2 where I did step 7 for all of the available elements.  These results were 139.

[2019-04-22 21:43] ariel-phet commented on #82
I think we should still keep this one deferred @arouinfar - @jbphet needs to move onto other things. Let's plan to revisit next time we touch this sim, or if it might be a reasonable project for an intern.

[2019-04-22 21:44] KatieWoe opened #95 "Decimals on 2nd screen no longer reach 4 digits"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/310
In the published version of the sim, some elements show an abundance in nature percentage with 4 decimal places.  In the rc this only reaches 3.  This affects Hydrogen, Helium, and Argon.  Particularly noticeable in Helium as it leads to percentages of 0% an

[2019-04-22 21:49] KatieWoe commented on #95
This does seem to have been a problem in rc.1 as well

[2019-04-22 22:30] KatieWoe commented on #91
Making a note that as of testing https://github.com/phetsims/QA/issues/310 Edge has not updated and this issue is still present.

[2019-04-23 03:02] arouinfar commented on #95
Nice find @KatieWoe. Four decimals does seem preferable @jbphet.

[2019-04-23 18:01] KatieWoe opened #96 "Accordion box slightly off screen"
Minor design bug found in https://github.com/phetsims/QA/issues/310, but present in published version.
When string are longer than normal (double and long) the yellow accordion boxes on the mixture screen go slightly out of bounds.  The +/- boxes are always visible and clickable, but it can look odd. To see this, use either an iPad/iPhone or the dev parameter.
![boxoffedge](https://user-images.git

[2019-04-23 21:26] arouinfar commented on #96
Nice find @KatieWoe.  It seems like the accordion menus don't have an appropriate `maxWidth` @jbphet. Since they are already quite wide, I don't think they need to expand any further for i18n.

Not sure if it's relevant here, but according to https://github.com/phetsims/joist/issues/542#issuecomment-443920171 this sim uses non-standard `layoutBounds`.

[2019-04-24 20:19] KatieWoe commented on #89
Looks good .1.0-rc.2

[2019-04-24 20:19] #89 closed

[2019-04-24 20:58] jbphet commented on #95
This was due to a change that was made to the method that retrieves abundance data from `AtomIdentifier` that was not correctly compensated for showing percentage data.  This has been fixed.

[2019-04-24 21:08] jbphet commented on #96
I've added `maxWidth` params for these accordion boxes.

[2019-05-01 19:27] jbphet commented on #96
Fixed and deployed.  Closing.

[2019-05-01 19:27] #96 closed

[2019-05-01 19:27] jbphet commented on #95
Fixed and deployed - closing.

[2019-05-01 19:27] #95 closed

[2019-05-01 19:28] jbphet commented on #92
The change to support "trace" is now deployed.  @arouinfar - I'm not sure if this implies that the teacher tips need to be deployed or not, but I thought I'd let you know.

[2019-05-01 19:30] jbphet commented on #85
Support for trace amounts has been added and deployed.  @oliver-phet - do you want to let translators know about this new string?  Once done, this can be closed.

[2019-05-01 19:32] jbphet commented on #86
@samreid and @zepumph - please close if you feel like no other PhET-iO work is necessary, or if you decide to open a seaparte issue.

[2019-05-01 19:34] oliver-phet commented on #85
Email to translators sent.

[2019-05-01 19:34] #85 closed

[2019-05-01 21:41] arouinfar commented on #92
The updated Teacher Tips have been deployed, thanks @jbphet.

[2019-05-01 21:41] #92 closed

[2019-05-02 15:33] oliver-phet opened #97 "'otherIsotopesPattern' translated string not creating line break"
![image](https://user-images.githubusercontent.com/5090275/57087469-5ad46b00-6cbd-11e9-9ee4-dd500bbebbf8.png)
![image](https://user-images.githubusercontent.com/5090275/57087476-60ca4c00-6cbd-11e9-9fe8-5cfb80bc1eae.png)

[2019-05-02 21:25] jbphet commented on #97
Well, I can see why the string is being displayed like this.  The Polish strings file `isototpes-and-atomic-mass-strings_pl.json` has the following value for the `otherIsotopesPattern`:
[code]
Note the double slashes.  The first slash acts as an escape for the second, so the second is interpreted as an intentional backslash character instead of the desired `\n`, which indicates a carriage return.

[2019-05-02 21:30] jbphet commented on #97
Here is what the string looks like in the translation utility at the moment.  From the translators point of view, this looks correct:
![image](https://user-images.githubusercontent.com/3082831/57108175-342f2800-6cef-11e9-839c-1d5237289198.png)

[2019-05-02 21:43] jbphet commented on #97
A search of the `isotopes-and-atomic-mass` directory in babel shows a lot of double slashes followed by an 'n', see below.

![image](https://user-images.githubusercontent.com/3082831/57108288-75bfd300-6cef-11e9-9f53-22999f148f04.png)

[2019-05-02 21:47] jbphet commented on #97
I just looked through the entire project, and only this sim (Isotopes and Atomic Mass) and Reactants, Products, and Leftovers are using the `\n` character in multi-line strings.  All other sims are using `<br>`.  It looks like the translation utility is messing up the '\n' characters.  I could correct the problem by replacing all usages of `\n` with `<br>`, or I could figure out why the translatio

[2019-05-03 16:18] jbphet commented on #97
I just looked through RPAL's translated string files, and I'm not seeing any occurrences of `\\n`.  This might mean that the problem where rosetta mangles the string was introduced after these translations were submitted.  I tested the Polish translation in rosetta using the 'Test' button, and saw this for the multi-line string (which translations to "No Reaction" with a line break):

![image](htt

[2019-05-15 18:24] arouinfar commented on #87
The sim has been delivered to LoL, closing.

[2019-05-15 18:24] #87 closed

[2019-06-03 23:39] zepumph commented on #86
@samreid I'm good to close if you are.

[2019-06-05 02:55] #86 closed

[2019-12-14 04:17] jbphet commented on #97
@oliver-phet - I was finally able to find time to work on this while tackling some other translation issues. It is fixed in the live version, and should no longer be a problem for future translators.  For the record, this problem also afflicted the translations of this sim for the cs, pt_BR, uk, and fa locales.

Please let the translator who requested the fix know that the problem is, we believe,

[2019-12-16 17:23] oliver-phet commented on #97
Translator notified, closing for now.

[2019-12-16 17:23] #97 closed

[2020-10-05 14:53] KatieWoe opened #98 "CT cannot set property electron of undefined"
[code]

[2020-10-05 22:11] jbphet commented on #98
There was a spot in the code where it was iterating over a set of arrays and modifying the content at the same time, and this apparently worked with the old `ObservableArray` but doesn't with the changes that occurred in https://github.com/phetsims/axon/issues/336.  I've fixed it and will keep an eye on CT to make sure that it clears up.

[2020-10-06 17:30] jbphet commented on #98
CT is now clear, closing.

[2020-10-06 17:30] #98 closed

[2020-10-14 12:11] samreid opened #99 "TypeError: Class constructor cannot be invoked without 'new'"
In https://github.com/phetsims/tasks/issues/1044, Particle.js was converted to `class` but js/mix-isotopes/model/MovableAtom.js extends it using `inherit` which causes this error on CT:

I don't see any other subtypes of MovableAtom--I'll try converting it to a `class` to see if it helps.

[2020-10-14 12:14] samreid commented on #99
Proposed fix committed, reassigning to the responsible dev for review & testing.

[2020-10-14 17:00] pixelzoom commented on #99
Thanks for taking care of that, sorry I missed the MovableAtom subclass.

[2020-10-14 20:18] jbphet commented on #99
Thanks for the fix @samreid.  Closing.

[2020-10-14 20:18] #99 closed

[2020-12-11 23:29] jbphet opened #100 "Convert to ES6"
This sim should be fully - or at least mostly - converted to ES6, especially with respect to using `class` instead of `inherit`.  See the parent issue https://github.com/phetsims/tasks/issues/1051 for more information.

[2020-12-12 00:34] jbphet commented on #100
Conversion complete, closing.

[2020-12-12 00:34] #100 closed

[2021-02-04 16:26] KatieWoe opened #101 "CT item not found in array"
[code]

[2021-02-05 16:36] KatieWoe opened #102 "CT cannot read property globalToLocalPoint of undefined"
[code]

[2021-02-05 20:11] jbphet commented on #101
Here's how to duplicate this easily:
- go to 2nd screen
- with one finger, pull a hydrogen atom out of a bucket and hold it outside if the chamber
- with another finger, and without letting go of the atom, use the radio buttons to switch to the "Nature's Mix" view
- immediately switch back to the "My Mix" view

[2021-02-05 21:22] jbphet commented on #102
Here's how to duplicate this manually:
- go to the 2nd screen
- using a finger, touch a bucket and drag so that a particle is extracted
- drag the particle away from the bucket, but continue to hold on to it
- with another finger, select the "slider" radio button from the bucket-slider radio buttons at the bottom of the test chamber (the black rectangle)

[2021-02-05 22:00] jbphet commented on #102
I did a bunch of code cleanup and fixed a different multi-touch issue as part of the commit to address this, so I should explain what was happening and what fixed it.

The problem was caused by drag listeners on the isotope buckets that were still operating after the bucket node had been removed from the scene graph.  To address the problem, I added code to interrupt user input on the bucket.  It

[2021-02-05 22:01] jbphet commented on #102
@KatieWoe - I'd like some regression testing done on the master version of this sim to verify that this didn't break anything.  The testing should focus on interactions with the buckets on the 2nd screen.

[2021-02-05 22:05] jbphet commented on #101
I did a bunch of code cleanup and fixed a different multi-touch issue as part of the commit to address this, so I should explain what was happening and what fixed it.

The problem existed because the code to clean up the model state when switching modes wasn't properly deleting atoms that weren't in the test chamber or associated with a bucket.  This situation isn't possible in non-multi-touch sit

[2021-02-05 22:08] jbphet commented on #101
@KatieWoe - I'd like some regression testing done on the master version of this sim to verify that this didn't break anything. The testing should focus on multi-touch on the 2nd screen, particularly involving changing modes while dragging particles around.

[2021-02-05 22:31] KatieWoe commented on #101
If you are dragging a particle, switch atom type, but don't drop the particle, then come back to the original atom type, that particle will be gone. It does not seem to disappear if you drop it while in the other atom scene.
![multitouchswitchscene](https://user-images.githubusercontent.com/41024075/107095732-8e172880-67c6-11eb-82bc-418db83b333b.gif)

[2021-02-05 22:31] KatieWoe commented on #102
https://github.com/phetsims/isotopes-and-atomic-mass/issues/101#issuecomment-774323790

[2021-02-09 00:19] jbphet commented on #101
The missing particle occurred because it was neither in the "test chamber" nor the bucket when the state of the screen was recorded.  This is impossible in non-multi-touch situations, but we need to handle it now.  I've added code to cancel interactions and essentially force the particles back into their home bucket when this situation arises.

[2021-02-09 00:36] jbphet opened #103 "Saving of state in 2nd screen is inefficient and overly complicated"
While working on #101, I found that that process of saving and restoring the state for the various atom configurations on the 2nd screen has some big problems.  I unfortunately missed this when doing the code review on this portion of the sim.  The problem is that when state has been stored for a given element and is later restored, the code in `MixIsotopesModel.setState()` first creates the bucke

[2021-02-09 00:44] jbphet commented on #103
I tried a couple of quick fixes but didn't have much luck, so I think this will take a little time to hammer out.  I'm going to leave it unassigned and it will act as a note to anyone who comes here to implement phet-io, essentially saying, "You'd better take care of this first.".

[2021-02-09 16:49] jbphet commented on #101
@KatieWoe - good observation on the missing particle problem.  I've addressed this too now, and I ran the multi-fuzz test for 10 minutes with no issues, and CT looks clear since these commits were made.  I'm assign this at #102 back to you for a bit more regression testing and, if all looks good, they can be closed.

[2021-02-09 16:50] jbphet commented on #102
Back to QA for more regression testing, see https://github.com/phetsims/isotopes-and-atomic-mass/issues/101#issuecomment-776079434.

[2021-02-09 17:45] KatieWoe commented on #101
One more instance where this can happen. If you are holding the atom above the play area, switch scenes but don't let go of the atom, and come back, the atom is gone.
![overplayarea](https://user-images.githubusercontent.com/41024075/107404847-e9e1fa00-6ac3-11eb-8191-20b1b2438d5c.gif)

[2021-02-09 17:45] KatieWoe commented on #102
https://github.com/phetsims/isotopes-and-atomic-mass/issues/101#issuecomment-776117999

[2021-02-09 17:48] jbphet commented on #102
Okay, it seems like #101 and this one have become stuck together.  I'm going to close this one and assume that we will tackle everything resulting from the multi-touch fuzz testing under #101.

[2021-02-09 17:48] #102 closed

[2021-02-20 00:56] jbphet commented on #101
Yep, good find.  I've addressed this one by implementing better handling of state storage when a particle is being dragged when a switch of the view state occurs.  @KatieWoe - Please test again and see whether we're there yet.

[2021-02-22 18:43] KatieWoe commented on #101
I don't see any problems on master. I focused on the second screen and the behavior of the atoms as you dragged them and switched scenes. Are there any other aspects that could be affected I should test?

[2021-02-22 18:51] jbphet commented on #101
@KatieWoe said:

Not that I'm aware of.

As far as next steps go, I don't think that this is significant enough to warrant a maintenance release, so I think I'll mark it as fixed and awaiting deployment, and will unassign.  The next time this is deployed from master, we should have this tested as part of the deployment process to make sure that it is indeed fully resolved.

[2021-06-29 16:27] samreid opened #104 "Return from forEach is not behaving as expected"
Similar to the problem in https://github.com/phetsims/gene-expression-essentials/issues/138, discovered in https://github.com/phetsims/chipper/issues/1033.  It looks like this code is supposed to short circuit when a match is found, but it iterates over everything anyways.

[code]

[2021-06-29 16:28] samreid commented on #104
Similar problem in this code:

[code]

[2021-07-02 20:57] jbphet commented on #104
I fixed the first bit of code by using standard C-style loops and using the overlap flag to drop out of them.  I tested this via explicit overlap testing and fuzz testing.

The second bit of code doesn't seem to be used, so I simply deleted this.

I don't think a follow-up review is necessary so I'm just going to close this.  @samreid - If you see this go by, you're welcome to review my changes an

[2021-07-02 20:57] #104 closed

[2021-11-23 17:16] KatieWoe opened #105 "CT compressionFunction is not a function"
[code]

[2021-11-29 19:35] jbphet commented on #105
The problem does not seem to be occurring anymore, here is a screenshot of the latest CT data:

![image](https://user-images.githubusercontent.com/3082831/143930791-e570668e-642a-429f-a95e-9eec49073951.png)

The problem looks like it was actually happening in joist, and some work was being done there for TypeScript support, so I'm going to chalk this failure up to that activity and close.

[2021-11-29 19:35] #105 closed

[2022-03-07 20:34] Luisav1 opened #106 "branch: symbolNode"
The Symbol accordion box in IAAM will use the generalized SymbolNode from shred to avoid its duplication in IAAM, BAA, and Build a Nucleus - BAN (https://github.com/phetsims/build-a-nucleus/issues/9#issuecomment-1045454629). This branch will be deleted once MakeIsotopesScreenView.js no longer creates its own symbol node implementation and uses the SymbolNode from shred instead.

[2022-04-19 16:17] oliver-phet opened #107 "Atomic Mass significant digits"
@arouinfar assigning to you to decide if this is worth fixing.

[2022-04-19 19:30] arouinfar commented on #107
@oliver-phet as far as I can tell from the design doc and poking around in the code, we aren't actually calculating the average atomic mass using the abundance and mass data for individual isotopes. We pull the data from [NIST](https://physics.nist.gov/cgi-bin/Compositions/stand_alone.pl?ele=&ascii=html&isotype=some). We round the NIST data to 4 decimal places for abundance and 5 decimal places fo

[2022-04-19 19:44] #107 closed

[2022-07-01 19:49] jbphet opened #108 "CT: Uncaught Error: Assertion failed: Accessibility is provided by RectangularRadioButton..."
The following error is occurring on CT for this sim:

[code]

I'll investigate.

[2022-07-01 20:26] jbphet commented on #108
@jessegreenberg - The assertion that is causing this CT failure is coming from some code that you added in https://github.com/phetsims/sun/commit/ee394ab10393cec3dcc4f1ad532101bdb237f26b for https://github.com/phetsims/sun/issues/771.

It looks like this was added because we don't want Scenery Node instances that already have phet-io stuff being used as nodes in radio button groups, but I don't re

[2022-07-01 21:11] jessegreenberg commented on #108
This assertion is trying to prevent putting additional PDOM content inside the radio button through the icon can because this can create malformed HTML and a poor experience for a screen reader user. In this case, they would likely find the slider nested under the radio button.

One way to handle this is to remove that element from the PDOM by setting its tagName to `null`, see https://github.com/

[2022-07-01 22:41] jbphet commented on #108
Thanks @jessegreenberg.  I understand the situation better, and your fix took care of the CT problem.

![image](https://user-images.githubusercontent.com/3082831/176975015-be93fc3e-978d-4a66-be80-30e88261f40c.png)

Closing.

[2022-07-01 22:41] #108 closed

[2022-09-09 22:33] KatieWoe commented on #101
Closing this for https://github.com/phetsims/qa/issues/832. If this is in error, feel free to reopen.

[2022-09-09 22:33] #101 closed

[2022-11-07 17:56] KatieWoe opened #109 "CT Cannot set properties of undefined (setting 'fill')"
[code]

[2022-11-07 21:10] jbphet commented on #109
@Luisav1 - This CT failure looks like it was caused by some commits that you made recently.  There are some options to the constructor for `PeriodicTableCell` that control whether the `labelText` field is present, and it looks like your code is assuming that this field is always there.  Please have a look, and let me know if you'd like any help with it.

Assigning to @Luisav1 for follow-up, and al

[2022-11-09 20:00] #109 closed